<footer class="ps-relative py16 ta-center fc-black-300 bg-black-025">
    <img class="mb12" style="max-width: 100%;" src="/static/imgs/piexue-com-s.png" alt="项目人才荟">
    <p class="mt0 mb0">
        ~
        <a href="//piexue.com" target="_blank">
            <script language="javascript">document.write("&#169;" + new Date().getFullYear())</script>
            {{ lang "site-name" }} - piexue.com
        </a>
        -
        {{ lang "based-on" }}
        ~
    </p>
    <p class="mt4 mb0">
        ~
        {{ lang "copyright" }} (
        <span href="mailto:ask@rusthub.org" style="color: red; background-color: yellow">ask@rusthub.org</span>
        )
        {{!-- -
        <small><a href="https://beian.miit.gov.cn" target="_blank">闽ICP备2022008280号-3</a></small> --}}
        ~
    </p>
</footer>

<!-- Javascript -->
<script src="/static/js/library.jquery.js"></script>
<script src="/static/js/stacks.min.js?1621242457912"></script>

<script src="/static/js/theme.js"></script>
<script src="/static/js/darkmode.js"></script>

<script src="/static/js/navigation.js"></script>
<script src="/static/js/hamburger.js"></script>

<script src="/static/js/common.js"></script>

{{! google }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2498669832870483"
    crossorigin="anonymous"></script>
<script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2498669832870483",
            enable_page_level_ads: true,
            overlays: { bottom: true }
        });
</script>

{{! baidu }}
<script type="text/javascript" src="//static.piexue.com/js/bdtj-jobs.js" defer="defer"></script>
<script type="text/javascript" src="//static.piexue.com/js/bdts.js" defer="defer"></script>
