<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content='{{ lang "site-name" }},https://github.com/zzy'>

{{!-- Favicons --}}
<link rel="icon" href="/static/imgs/icons/favicon.svg">
<link rel="shortcut icon" href="/static/imgs/icons/favicon.ico">
<link rel="apple-touch-icon image_src" href="/static/imgs/icons/apple-touch-icon.png">

{{!-- Open Graph --}}
<meta property="og:type" content="website">
<meta property="og:title" content='{{ lang "site-name" }}'>
<meta property="og:url" content="https://piexue.com">
<meta property="og:description" content='{{ lang "site-name" }} | {{ lang "site-slogan" }}'>
<meta property="og:image" content="/static/imgs/logos/open-graph.png?1621242457912">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

{{!-- Twitter --}}
<meta name="twitter:card" content="summary_large_image">

{{!-- CSS --}}
<link rel="stylesheet" type="text/css" href="/static/css/style.css?1621242457912">
<link rel="stylesheet" type="text/css" href="/static/css/stacks.min.css?1621242457912">
