{{!-- 注：使用在 2 处位置 --}}
<a class="s-navigation--item {{ nav-creating-selected }}" href="http://43.192.48.19:8602" target="_blank">
    {{ lang "nav-creating" }}
</a>
<a class="s-navigation--item {{ nav-programs-selected }}" href="/{{ language }}/programs">
    {{ lang "nav-programs" }}
</a>
<a class="s-navigation--item {{ nav-tutorials-selected }}" href="/{{ language }}/tutorials">
    {{ lang "nav-tutorials" }}
</a>
<a class="s-navigation--item {{ nav-users-selected }}" href="/{{ language }}/users">
    {{ lang "nav-users" }}
</a>
<a class="s-navigation--item" href='{{ helper-values "sites" "books" }}' target="_blank">
    {{ lang "nav-books" }}
</a>
<a class="s-navigation--item" href='{{ helper-values "sites" "jobs" }}' target="_blank">
    {{ lang "nav-jobs" }}
</a>
<a class="s-navigation--item" href='{{ helper-values "sites" "blog" }}' target="_blank">
    {{ lang "nav-blog" }}
</a>

{{#if (str-cmp user.status 10 "gte") }}
    <a class="s-navigation--item {{ nav-admin-selected }}" href="/admin">
        管理后台
    </a>
{{/if}}
