<nav class="m16 s-pagination jc-center fs-body3">
    {{#if pagination.pageInfo.hasPreviousPage }}
        <a class="s-pagination--item pt2 fs-body2 fc-blue-500"
            href="?from={{ pagination.pageInfo.currentPage }}&first={{ pagination.pageInfo.firstCursor }}">
            {{ lang "previous" }}
        </a>
    {{/if}}

    <span class="s-pagination--item s-pagination--item__clear fs-body3 bg-powder-100">
        <span class="fw-bold fc-red-600">{{ pagination.pageInfo.currentPage }}</span>
        {{#unless (str-cmp pagination.pageInfo.currentStuff "projects") }}
            /
            <span class="fw-bold fc-powder-600">{{ pagination.resCount.pagesCount }}</span>
        {{/unless}}
    </span>

    {{#if pagination.pageInfo.hasNextPage }}
        <a class="s-pagination--item pt2 fs-body2 fc-blue-500"
            href="?from={{ pagination.pageInfo.currentPage }}&last={{ pagination.pageInfo.lastCursor }}">
            {{ lang "next" }}
        </a>
    {{/if}}

    {{#unless (str-cmp pagination.pageInfo.currentStuff "projects") }}
        <span class="s-pagination--item s-pagination--item__clear fs-body2">
            -
            {{ lang "aggregate" }}
            {{ pagination.resCount.totalCount }}
            {{ lang pagination.pageInfo.currentStuff }}
        </span>
    {{/unless}}
</nav>
