<div class="s-popover p0 w-auto" id="user-dashboard">
    <div class="s-popover--arrow"></div>
    <ul class="s-menu" role="menu">
        <li class="s-menu--title fw-bold" role="separator">{{ lang "user-profile" }}</li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/profile" target="_blank">
                {{ lang "user-general" }}
            </a>
        </li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/contact" target="_blank">
                {{ lang "user-contact" }}
            </a>
        </li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/finance" target="_blank">
                {{ lang "user-finance" }}
            </a>
        </li>
        <li class="s-menu--title fw-bold" role="separator">{{ lang "projects-center" }}</li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ language }}/project/new" target="_blank">
                {{ lang "projects-matching" }}
            </a>
        </li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/projects" target="_blank">
                {{ lang "projects-management" }}
            </a>
        </li>
        <li class="s-menu--divider" role="separator"></li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/sign-out">
                {{ lang "sign-out" }}
            </a>
        </li>
    </ul>
</div>
