<!DOCTYPE html>
<html lang="{{ language }}">

  <head>
    <title>
      {{#if filter_desc }}{{ lang filter_desc.content }} - {{/if}}
      {{ lang "projects-list" }} - {{ lang "site-name" }} | {{ lang "site-slogan" }}
    </title>

    <meta name="keywords" content='{{ lang "projects-list" }},{{ lang "site-name" }},{{ lang "site-slogan" }}'>
    <meta name="description"
      content='{{ lang "projects-list" }},{{ lang "site-name" }},{{ lang "site-slogan" }},{{ lang "site-intro" }}'>

    {{> head }}
  </head>

  <body class="theme-system">
    {{> header }}

    <main class="ps-relative t64">
      {{> wish-random }}

      {{!-- google ad 内嵌，自适应 --}}
      <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
        data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <div class="d-flex fw-wrap mt16 mx24 sm:ml4 sm:mr4">
        <span class="s-btn-group sm:mb4">
          <a class="s-btn s-btn__outlined {{ projects-all-selected }}" href="/{{ language }}/projects">
            {{ lang "all" }}
          </a>
          <a class="s-btn s-btn__outlined {{ projects-recommended-selected }}"
            href="/{{ language }}/projects/recommended">
            {{ lang "projects-filter-recommended" }}
          </a>
        </span>
        <button class="s-btn sm:mb4" disabled>-</button>
        <span class="flex--item fl-grow1 s-btn-group sm:mb4">
          {{#each categories as |category|}}
            <a class="s-btn s-btn__outlined {{#if (str-cmp ../filter_desc.condition category.nameEn) }}is-selected{{/if}}"
              href="/{{ ../language }}/category/{{ category.slug }}/projects">
              {{ lang category.namePlural }}
            </a>
          {{/each}}
        </span>

        <span class="flex--item">
          <a class="s-btn s-btn__filled is-selected" href="http://43.192.48.19:8602" target="_blank">
            {{ lang "project-online" }}
          </a>
          <a class="s-btn s-btn__filled is-selected" href="/{{ language }}/project/new" target="_blank">
            {{ lang "project-create" }}
          </a>
          <a class="s-btn s-btn__filled is-selected"
            href="/{{ language }}{{#if user }}/user/{{ user.username }}/projects{{else}}/sign-in{{/if}}"
            target="_blank">
            {{ lang "my-projects" }}
          </a>
        </span>
      </div>

      <div class="mt8 mb96 mx24 sm:ml4 sm:mr4">

        <span class="ml8 fc-danger fs-fine">{{ lang "project-risk-tip" }}</span>

        <div class="d-grid grid__4 lg:grid__2 sm:grid__1 g12 w100 wmx100 mx-auto">
          {{#each pagination.currentItems as |project|}}
            <article class="s-card my8">
              <a href="/{{ ../language }}/project/{{ project.id }}" target="_blank">
                <img src="/files/projects/{{ project.coverImage.location }}">
              </a>
              <h3 class="fw-bold fs-body3 fc-theme-secondary-400 truncate my2">
                <a class="va-baseline s-tag mb4" href="/{{ ../language }}/category/{{ project.category.slug }}/projects"
                  target="_blank">
                  {{#if (str-cmp ../language "zh-cn") }}
                    {{ project.category.nameZh }}
                  {{else}}
                    {{ project.category.nameEn }}
                  {{/if}}
                </a>
                <a href="/{{ ../language }}/project/{{ project.id }}" target="_blank">
                  {{ project.subject }}
                </a>
              </h3>
              <p class="fc-medium truncate mb2">
                {{#if project.topics }}
                  {{#each project.topics as |topic|}}
                    <a class="s-badge s-badge__sm" href="/{{ ../../language }}/topic/{{ topic.slug }}/projects"
                      target="_blank">
                      {{ topic.name }}
                    </a>
                  {{/each}}
                {{else}}
                  <strong>{{ lang "project-keys-tags" }}</strong>
                  {{ lang "not-setting" }}
                {{/if}}
              </p>
              <p class="fs-medium mb2">
                <a class="s-link fw-bold" href="/{{ ../language }}/user/{{ project.user.username }}" target="_blank">
                  {{ project.user.nickname }}
                </a>
                {{ lang "project-posted" }}
                {{ project.updatedAtNyrsq }}
              </p>
              <p class="pl4 fc-medium">
                <a href="/{{ ../language }}/project/{{ project.id }}" target="_blank">
                  <strong>{{ project.hits }}</strong>
                  {{ lang "project-hits" }}
                </a>
                <span class="mx4 fc-red-600">/</span>
                <a href="/{{ ../language }}/project/{{ project.id }}" target="_blank">
                  <strong>{{ project.stars }}</strong>
                  {{ lang "project-stars" }}
                </a>
                <span class="mx4 fc-red-600">/</span>
                <a href="/{{ ../language }}/project/{{ project.id }}" target="_blank">
                  <strong>{{ project.insides }}</strong>
                  {{ lang "project-insides" }}
                </a>
                {{#if (str-cmp project.status 2 "gte") }}
                  <span class="ml12 s-tag s-tag__sm s-tag__moderator fw-normal fs-caption">
                    {{ lang "projects-filter-recommended" }}
                  </span>
                {{/if}}
              </p>
            </article>
          {{/each}}
        </div>

        {{> pagination }}
      </div>

    </main>

    {{> footer }}
  </body>

</html>
