<!DOCTYPE html>
<html lang="{{ language }}">

    <head>
        <title>
            {{ project.subject }} - No.{{ project.id }} -
            {{#if (str-cmp language "zh-cn") }}{{ project.category.nameZh }}{{else}}{{ project.category.nameEn }}{{/if}}
            - {{ lang "projects-list" }} - {{ lang "site-name" }} | {{ lang "site-slogan" }}
        </title>

        <meta name="keywords"
            content='{{#if (str-cmp language "zh-cn") }}{{ project.category.nameZh }}{{else}}{{ project.category.nameEn }}{{/if}},{{#each project.topics as |topic|}}{{ topic.name }}{{#unless @last }},{{/unless}}{{/each}}'>
        <meta name="description" content="{{ str-cut project.content 100 }}">

        {{> head }}
        <link rel="stylesheet" href="/static/css/night-owl.min.css">
    </head>

    <body class="theme-system">
        {{> header }}

        <main class="ps-relative t64">
            {{> wish-random }}

            {{!-- google ad 内嵌，自适应 --}}
            <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <div class="mt16 mb96 mx24 sm:ml4 sm:mr4">

                <span class="ml8 fc-danger fs-fine">{{ lang "project-risk-tip" }}</span>
                <article class="s-card my12">
                    <h2 class="mb6">
                        <a class="s-tag mr6" href="/{{ language }}/category/{{ project.category.slug }}/projects"
                            target="_blank">
                            {{#if (str-cmp language "zh-cn") }}
                                {{ project.category.nameZh }}
                            {{else}}
                                {{ project.category.nameEn }}
                            {{/if}}
                        </a>
                        <a href="/{{ language }}/project/{{ project.id }}" target="_blank">
                            {{ project.subject }}
                            <sup class="fw-normal fs-fine">No.{{ project.id }}</sup>
                        </a>
                        {{#if (str-cmp project.status 2 "gte") }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">
                                {{ lang "projects-filter-recommended" }}
                            </span>
                        {{/if}}
                    </h2>
                    <p class="my6 fs-body1">
                        <a class="s-link fw-bold" href="/{{ language }}/user/{{ project.user.username }}"
                            target="_blank">
                            {{ project.user.nickname }}
                        </a>
                        {{ lang "project-posted" }}
                        {{ project.updatedAtNyrsq }}
                    </p>
                    <p class="my6 pl4 fs-body1">
                        <a href="/{{ language }}/project/{{ project.id }}" target="_blank">
                            <strong>{{ project.hits }}</strong>
                            {{ lang "project-hits" }}
                        </a>
                        <span class="mx4 fc-red-600">/</span>
                        <a href="/{{ language }}/project/{{ project.id }}" target="_blank">
                            <strong>{{ project.stars }}</strong>
                            {{ lang "project-stars" }}
                        </a>
                        <span class="mx4 fc-red-600">/</span>
                        <a href="/{{ language }}/project/{{ project.id }}" target="_blank">
                            <strong>{{ project.insides }}</strong>
                            {{ lang "project-insides" }}
                        </a>
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 {{ lang "project-content" }}
                    </p>

                    <p class="my6 fs-body1">
                        <strong>{{ lang "project-keys-tags" }}</strong>
                        {{#if project.topics }}
                            {{#each project.topics as |topic|}}
                                <a class="s-badge ml4 mb2 fs-body1"
                                    href="/{{ ../language }}/topic/{{ topic.slug }}/projects" target="_blank">
                                    {{ topic.name }}
                                </a>
                            {{/each}}
                        {{else}}
                            {{ lang "not-setting" }}
                        {{/if}}
                    </p>
                    <section class="d-grid grid__2 lg:grid__2 sm:grid__1 my6 py12 px8 ba bar-lg bc-black-200 fs-body2">
                        <img src="/files/projects/{{ project.coverImage.location }}">
                        <span class="pt6 pl16">
                            {{{ project.contentHtml }}}
                        </span>
                    </section>
                    <p class="my6 fs-body1">
                        <strong>{{ lang "project-source-file" }}</strong>
                        {{#if sign-in }}
                            <a href="/files/projects/{{ project.sourceFile.location }}" target="_blank"
                                download='{{ lang "site-name" }}-{{ project.subject }}-{{ project.sourceFile.name }}'>
                                {{ project.sourceFile.name }}
                            </a>
                        {{else}}
                            {{ lang "project-source-file-download-tip" }}
                            <a class="fw-bold" href="/{{ language }}/sign-in" target="_blank">
                                {{ lang "sign-in-intro" }}
                            </a>
                        {{/if}}
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 {{ lang "user-contact" }}
                    </p>

                    <p class="my6 fs-body1">
                        <strong>{{ lang "project-contact-person" }}</strong>
                        {{ project.contactUser }}
                    </p>

                    {{#if sign-in }}
                        <p class="my6 fs-body1">
                            <strong>{{ lang "project-contact-phone" }}</strong>
                            {{ project.contactPhone }}
                        </p>
                        <p class="my6 fs-body1">
                            <strong>{{ lang "project-contact-email" }}</strong>
                            {{ project.contactEmail }}
                        </p>
                        <p class="my6 fs-body1">
                            <strong>{{ lang "project-contact-im" }}</strong>
                            {{ project.contactIm }}
                        </p>
                    {{else}}
                        <p class="my6 fs-body1">
                            {{ lang "project-view-contact" }}
                            <a class="fw-bold" href="/{{ language }}/sign-in" target="_blank">
                                {{ lang "sign-in-intro" }}
                            </a>
                        </p>
                    {{/if}}
                    <br>
                    <span class="fc-danger fs-fine">{{ lang "user-risk-tip" }}</span>
                </article>

            </div>

        </main>

        {{> footer }}
        <script src="/static/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>

</html>
