<!DOCTYPE html>
<html lang="{{ language }}">

    <head>
        <title>
            {{ lang "project-create" }} - {{ lang "projects-requirements" }} -
            {{ lang "site-name" }} | {{ lang "site-slogan" }}
        </title>

        <meta name="keywords"
            content='{{ lang "project-create" }},{{ lang "projects-requirements" }},{{ lang "site-name" }},{{ lang "site-slogan" }}'>
        <meta name="description"
            content='{{ lang "project-create" }},{{ lang "projects-requirements" }},{{ lang "site-name" }},{{ lang "site-slogan" }}'>

        {{> head }}
        <link rel="stylesheet" href="/static/css/stacks-editor.min.css">
    </head>

    <body class="theme-system">
        {{> header }}

        <main class="ps-relative t64">
            {{> wish-random }}

            <div class="mt16 mb96 mx24 sm:ml4 sm:mr4 ta-center">

                <h2 class="my16">{{ lang "project-create" }}</h2>

                {{#if project_new_result }}
                    <p class="fs-body2">
                        {{ lang "project-new-result" project_new_result }}
                    </p>
                {{else}}
                    {{#if project_new_failed }}
                        <aside class="p2 mb8 fs-body2">
                            {{ lang "project-new-failed" project_new_failed }}
                        </aside>
                    {{/if}}

                    <form method="post">
                        <input type="hidden" name="user_id" value="{{ user.id }}">

                        <div class="d-flex flex__center fd-column gs16 gsy">

                            <div class="mt8 p4 w66 wmn4 sm:w100 ta-left fw-bold bg-blue-100 fc-blue-900">
                                💥 {{ lang "project-description" }}
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="category_id">
                                    {{ lang "project-new-category" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <select class="flex--item s-select w100" name="category_id" id="category_id"
                                        placeholder='{{ lang "project-category-select" }}'
                                        aria-label='{{ lang "project-category-select" }}' required>
                                        <option value="" selected>{{ lang "project-category-select" }}</option>
                                        {{#each categories as |category|}}
                                            <option value="{{ category.id }}">
                                                {{#if (str-cmp ../language "zh-cn") }}
                                                    {{ category.nameZh }}
                                                {{else}}
                                                    {{ category.nameEn }}
                                                {{/if}}
                                            </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96" for="subject">
                                    {{ lang "project-new-subject" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="subject" id="subject"
                                        minlength="12" maxlength="40" placeholder='{{ lang "project-new-subject-tip" }}'
                                        aria-label='{{ lang "project-new-subject-tip" }}' required>
                                </div>
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="cover_image">
                                    {{ lang "project-new-cover-image" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input type="hidden" name="cover_image_id" id="cover_image_id">
                                    <input class="flex--item s-input blr0" type="file" id="cover_image"
                                        onchange="uploadFile(this, 'cover_image_id', 1, 102400)" required>
                                </div>
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="topic_names">
                                    {{ lang "project-new-keys-tags" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input type="hidden" name="topic_names" id="topic_names">
                                    <keyword-tags tag-values="" class="flex--item s-input blr0"></keyword-tags>
                                    <template id="keyword-tags-template">
                                        <link href="/static/css/kw-t.css" rel="stylesheet">
                                        <div class="keyword-tags-kit">
                                            <div class="keyword-tags"></div>
                                            <input type="text" class="flex--item s-input blr0 keyword-input"
                                                placeholder='{{ lang "project-new-keys-tags-tip" }}'
                                                aria-label='{{ lang "project-new-keys-tags-tip" }}' required>
                                        </div>
                                    </template>
                                    <template id="keyword-tag-template">
                                        <button type="button" class="keyword-tag">
                                            <span class="keyword">{{ lang "site-name" }}</span>
                                            <span class="delete-icon"></span>
                                        </button>
                                    </template>
                                </div>
                            </div>

                            <div class="d-flex fd-column w66 wmn4 sm:w100">
                                <label class="flex--item mb4 s-label ta-left" for="content">
                                    {{ lang "project-new-description" }}
                                </label>
                                <textarea class="flex--item s-textarea d-none" name="content" id="content"
                                    placeholder='{{ lang "project-new-description" }}'
                                    aria-label='{{ lang "project-new-description" }}' required>
### Project overview
Support **Markdown** syntax
### 项目总览
支持 **Markdown** 语法
                                    </textarea>
                                <div id="content-div" class="ta-left"></div>
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="source_file">
                                    {{ lang "project-new-source-file" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input type="hidden" name="source_file_id" id="source_file_id">
                                    <input class="flex--item s-input blr0" type="file" id="source_file"
                                        onchange="uploadFile(this, 'source_file_id', 2, 10485760)" required>
                                </div>
                            </div>

                            <div class="mt8 p4 w66 wmn4 sm:w100 ta-left fw-bold bg-blue-100 fc-blue-900">
                                💥 {{ lang "user-contact" }}
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2" for="contact_user">
                                    {{ lang "project-new-contact-person" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="contact_user"
                                        id="contact_user" value="{{ user.nickname }}"
                                        placeholder='{{ lang "project-new-contact-person-tip" }}'
                                        aria-label='{{ lang "project-new-contact-person-tip" }}' required>
                                </div>
                                <label class="flex--item s-input-fill fw-bold fs-body2" for="contact_email">
                                    {{ lang "project-new-contact-email" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="email" name="contact_email"
                                        id="contact_email" value="{{ user.email }}"
                                        placeholder='{{ lang "project-new-contact-email-tip" }}'
                                        aria-label='{{ lang "project-new-contact-email-tip" }}' required>
                                </div>
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2" for="contact_phone">
                                    {{ lang "project-new-contact-phone" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="tel" name="contact_phone"
                                        id="contact_phone" value="{{ user.phoneNumber }}"
                                        placeholder='{{ lang "project-new-contact-phone-tip" }}'
                                        aria-label='{{ lang "project-new-contact-phone-tip" }}' required>
                                </div>
                                {{!-- <label class="flex--item s-btn s-btn__filled mx4" for="phone_code">
                                    {{ lang "project-new-contact-phone-code" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="phone_code" id="phone_code"
                                        placeholder='{{ lang "project-new-contact-phone-code-tip" }}'
                                        aria-label='{{ lang "project-new-contact-phone-code-tip" }}' disabled>
                                </div>
                                <button class="flex--item s-btn s-btn__filled ml4" for="phone_code" disabled>
                                    {{ lang "project-new-contact-phone-verify" }}
                                </button> --}}
                            </div>

                            <div class="d-flex w66 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="contact_im">
                                    {{ lang "project-new-contact-im" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="contact_im" id="contact_im"
                                        value="{{ user.imAccount }}"
                                        placeholder='{{ lang "project-new-contact-im-tip" }}'
                                        aria-label='{{ lang "project-new-contact-im-tip" }}'>
                                </div>
                            </div>

                            <input type="hidden" name="language" value="{{ str-cut language 2 }}">

                            <div class="d-flex fd-column ai-center">
                                <div class="flex--item">
                                    <button class="s-btn s-btn__primary ws2 fs-body2" type="submit"
                                        onclick="setContent()">
                                        {{ lang "project-new-create" }}
                                    </button>
                                </div>
                                <div class="flex--item mt16 fs-body2">
                                    {{ lang "project-new-create-tip" }}
                                </div>
                            </div>

                        </div>
                    </form>
                {{/if}}

            </div>
        </main>

        {{> footer }}
        <script src="/static/js/kw-t.js"></script>
        <script src="/static/js/highlight.min.js"></script>
        <script src="/static/js/stacks-editor.bundle.js"></script>
        <script>
            let editor = new window.stacksEditor.StacksEditor(
                document.getElementById("content-div"),
                document.getElementById("content").value,
                {
                    parserFeatures: {
                        tables: true,
                    },
                }
            );

            function setContent() {
                document.getElementById("content").value = editor.content;
            }

            let img_ext = new Array(".png", ".jpg", ".gif");
            let src_ext = new Array(".sb3",);

            function uploadFile(input, file_id, file_kind, size_limit) {
                let file = input.files[0];
                if (file_kind == 1) {
                    if (img_ext.contain(file.name.extension()) && file.size <= size_limit) {
                        uploading(file, file_id, file_kind);
                    }
                    else {
                        let failure_info = '{{ lang "project-new-cover-image" }}' + ' - ' + '{{ lang "project-new-file-upload-failure" }}';
                        failure_info += '{{ lang "project-new-file-format-limit" }} *' + img_ext.join("/") + '\n';
                        failure_info += '{{ lang "project-new-file-size-limit" }} ' + size_limit / 1024 + 'k';

                        input.value = null;
                        alert(failure_info);
                    }
                }
                else if (file_kind == 2) {
                    if (src_ext.contain(file.name.extension()) && file.size <= size_limit) {
                        uploading(file, file_id, file_kind);
                    }
                    else {
                        let failure_info = '{{ lang "project-new-source-file" }}' + ' - ' + '{{ lang "project-new-file-upload-failure" }}';
                        failure_info += '{{ lang "project-new-file-format-limit" }} *' + src_ext.join("/") + '\n';
                        failure_info += '{{ lang "project-new-file-size-limit" }} ' + size_limit / 1048576 + 'm';

                        input.value = null;
                        alert(failure_info);
                    }
                }
            }

            function uploading(file, file_id, file_kind) {
                let form_data = new FormData();
                form_data.append("file", file);

                $.ajax({
                    type: "PUT",
                    url: "/{{ language }}/project/file/new/" + file.name + "/" + file_kind,
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res["done"]) {
                            $("#" + file_id).val(res["file_id"]);
                            alert(res["file_name"] + ' - ' + '{{ lang "project-new-file-upload-success" }}');
                        }
                        else {
                            input.value = null;
                            alert(file.name + ' - ' + '{{ lang "project-new-file-upload-failure" }}' + ' - ' + res["err"]);
                        }
                    }
                });
            }
        </script>
    </body>

</html>
