<!DOCTYPE html>
<html lang="{{ language }}">

  <head>
    <title>
      {{#if filter_desc }}{{ lang filter_desc.condition }}
        {{#if (str-cmp filter_desc.content "worker-role" "ct") }}{{ lang filter_desc.content }}
        {{else}}{{ filter_desc.content }}{{/if}} - {{/if}}
      {{ lang "projects-requirements" }} - {{ lang "site-name" }} | {{ lang "site-slogan" }}
    </title>

    <meta name="keywords" content='{{ lang "projects-requirements" }},{{ lang "site-name" }},{{ lang "site-slogan" }}'>
    <meta name="description"
      content='{{ lang "projects-requirements" }},{{ lang "site-name" }},{{ lang "site-slogan" }},{{ lang "site-intro" }}'>

    {{> head }}
  </head>

  <body class="theme-system">
    {{> header }}

    <main class="ps-relative t64">
      {{> wish-random }}

      {{!-- google ad 内嵌，自适应 --}}
      <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
        data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <div class="d-flex fw-wrap mt16 mx24 sm:ml4 sm:mr4">
        <a class="s-btn s-btn__outlined {{ projects-all-selected }} sm:mb4" href="/{{ language }}/projects">
          {{ lang "all" }}
        </a>
        <button class="s-btn sm:mb4" disabled>-</button>
        <span class="flex--item fl-grow1 s-btn-group sm:mb4">
          {{#each categories as |category|}}
            <a class="s-btn s-btn__outlined {{#if (str-cmp category.id id-selected) }}is-selected{{/if}}"
              href="/{{ ../language }}/category/{{ category.slug }}/projects">
              {{#if (str-cmp ../language "zh-cn") }}
                {{ category.nameZh }}
              {{else}}
                {{ category.nameEn }}
              {{/if}}
            </a>
          {{/each}}
        </span>

        <span class="flex--item">
          <a class="s-btn s-btn__filled is-selected" href="http://43.192.48.19:8602" target="_blank">
            {{ lang "project-online" }}
          </a>
          <a class="s-btn s-btn__filled is-selected" href="/{{ language }}/project/new" target="_blank">
            {{ lang "project-create" }}
          </a>
          <a class="s-btn s-btn__filled is-selected"
            href="/{{ language }}{{#if user }}/user/{{ user.username }}/projects{{else}}/sign-in{{/if}}"
            target="_blank">
            {{ lang "my-projects" }}
          </a>
        </span>
      </div>

      <div class="mt8 mb96 mx24 sm:ml4 sm:mr4">

        <span class="ml8 fc-danger fs-fine">{{ lang "project-risk-tip" }}</span>

        <div class="d-grid grid__2 lg:grid__1 sm:grid__1 g12 w100 wmx100 mx-auto">
          {{#each pagination.currentItems as |project|}}
            <article class="s-card my8">
              <h2 class="mb6">
                <a class="s-tag mr6 mb2" href="/{{ ../language }}/category/{{ project.category.slug }}/projects"
                  target="_blank">
                  {{#if (str-cmp ../language "zh-cn") }}
                    {{ project.category.nameZh }}
                  {{else}}
                    {{ project.category.nameEn }}
                  {{/if}}
                </a>
                <a href="/{{ ../language }}/project/{{ project.id }}" target="_blank">
                  {{ project.subject }}
                </a>
                {{#if (str-cmp project.status 2 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">
                    {{ lang "project-recommended" }}
                  </span>
                {{/if}}
                {{#unless project.external }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">
                    {{ lang "project-verified" }}
                  </span>
                {{/unless }}
                {{#if (str-cmp project.status 6) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">
                    {{ lang "project-managed" }}
                  </span>
                {{/if}}
              </h2>
              <p class="my6 fs-body1">
                {{#unless (str-cmp project.user.username "spider") }}
                  <a class="s-link fw-bold" href="/{{ ../language }}/user/{{ project.user.username }}" target="_blank">
                    {{ project.user.nickname }}
                  </a>
                  {{ lang "project-posted" }}
                {{else}}
                  {{ lang "project-data-aggregation" }}
                {{/unless}}
                {{ project.updatedAtNyrsq }}
              </p>
              <p class="my6 fs-body1">
                <strong>{{ lang "project-investment" }}</strong>
                {{ project.investment }}
                {{ lang project.currencyType }}
                <strong>{{#if project.negotiated }} - {{ lang "project-negotiated" }}{{/if}}</strong>
                <strong class="ml16">{{ lang "project-hits" }}</strong>
                {{ project.hits }}
              </p>
              <p class="my6 fs-body1">
                <strong>{{ lang "project-keys-tags" }}</strong>
                {{#if project.topics }}
                  {{#each project.topics as |topic|}}
                    <a class="s-badge ml4 mb2 fs-body1" href="/{{ ../../language }}/topic/{{ topic.slug }}/projects"
                      target="_blank">
                      {{ topic.name }}
                    </a>
                  {{/each}}
                {{else}}
                  {{ lang "not-setting" }}
                {{/if}}
              </p>
              <p class="mt6 fs-body2 v-truncate2">
                {{ project.content }}
              </p>
            </article>
          {{/each}}
        </div>

        {{> pagination }}
      </div>

    </main>

    {{> footer }}
    <script>
      function setAction(form) {
        var investment_min = document.getElementById("investment_min").value;
        var investment_max = document.getElementById("investment_max").value;
        var form_action = "/{{ language }}/projects/" + investment_min + "-" + investment_max;
        form.action = form_action;
      }
    </script>
  </body>

</html>
