<!DOCTYPE html>
<html lang="{{ language }}">

  <head>
    <title>
      {{ lang "users-teams" }} - {{ lang "site-name" }} | {{ lang "site-slogan" }}
    </title>

    <meta name="keywords" content='{{ lang "users-teams" }},{{ lang "site-name" }},{{ lang "site-slogan" }}'>
    <meta name="description"
      content='{{ lang "users-teams" }},{{ lang "site-name" }},{{ lang "site-slogan" }},{{ lang "site-intro" }}'>

    {{> head }}
  </head>

  <body class="theme-system">
    {{> header }}

    <main class="ps-relative t64">
      {{> wish-random }}

      {{!-- google ad 内嵌，自适应 --}}
      <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
        data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <div class="mt8 mb96 mx24 sm:ml4 sm:mr4">

        <span class="ml8 fc-danger fs-fine">{{ lang "users-list-tip" }}</span>

        <div class="d-grid grid__2 lg:grid__1 sm:grid__1 g12 w100 wmx100 mx-auto">
          {{#each pagination.currentItems as |user_item|}}
            <article class="s-card my8">
              <h2 class="mb6">
                <a href="/{{ ../language }}/user/{{ user_item.username }}" target="_blank">
                  {{ user_item.nickname }}
                  <sup class="fw-normal fs-fine">No.{{ user_item.id }}</sup>
                </a>
              </h2>
              <p class="my6 fs-body1">
                <strong>{{ lang "registration-time" }}</strong>
                {{ user_item.createdAtNyrsq }}
              </p>
              <p class="my6 fs-body1">
                <strong>{{ lang "keys-tags" }}:</strong>
                {{#if user_item.keywords }}
                  {{#each user_item.keywords as |keyword|}}
                    <a class="s-badge ml4 mb2 fs-body1" href="/{{ ../../language }}/topic/{{ keyword.slug }}/projects"
                      target="_blank">
                      {{ keyword.name }}
                    </a>
                  {{/each}}
                {{else}}
                  {{ lang "not-setting" }}
                {{/if}}
              </p>
            </article>
          {{/each}}
        </div>

        {{> pagination }}
      </div>

    </main>

    {{> footer }}
  </body>

</html>
