<!DOCTYPE html>
<html lang="{{ language }}">

  <head>
    <title>项目需求 - 丿雪 | 互联网智能对接服务平台</title>

    <meta name="keywords" content="项目需求清单,互联网智能对接服务平台">
    <meta name="description" content="项目需求清单 - 丿雪是互联网智能对接服务平台，旨在连接需求方与开发者。丿雪基于在线工具对项目进行管控，保障双方的利益。">

    {{> head }}
  </head>

  <body class="theme-system">
    {{> header }}

    <main class="ps-relative t64">

      <div class="mt16 mb96 mx24 sm:ml4 sm:mr4">
        {{!-- google ad 内嵌，自适应 --}}
        <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
          data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <div class="d-grid grid__2 lg:grid__1 sm:grid__1 g12 w100 wmx100 mx-auto">
          {{#each pagination.currentItems as |project|}}
            <article class="s-card my8 p4">
              <h2 class="mb4">
                <a class="s-tag mr6 mb2" href="/{{ ../language }}/category/{{ project.category.slug }}/projects"
                  target="_blank">
                  {{ project.category.nameZh }}
                  ({{ project.category.nameEn }})
                </a>
                <a href="/admin/project/{{ project.id }}" target="_blank">
                  {{ project.subject }}
                </a>
                <span class="ml8 s-tag s-tag__muted fw-normal fs-body1">{{ project.id }}</span>
                {{#if (str-cmp project.status -3) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已删除</span>
                {{/if}}
                {{#if (str-cmp project.status -2 "lte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已拒绝</span>
                {{/if}}
                {{#if (str-cmp project.status -1) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">草稿</span>
                {{/if}}
                {{#if (str-cmp project.status 0) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">待审核</span>
                {{/if}}
                {{#if (str-cmp project.status 1 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已审核</span>
                {{/if}}
                {{#if (str-cmp project.status 2 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已推荐</span>
                {{/if}}
                {{#if (str-cmp project.status 3 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已群发</span>
                {{/if}}
                {{#if (str-cmp project.status 6) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已管控</span>
                {{/if}}
              </h2>
              <div class="mb0 fs-body1">
                <a class="s-link fw-bold" href="/{{ ../language }}/user/{{ project.user.username }}" target="_blank">
                  {{ project.user.nickname }}
                </a>
                发布于
                {{ project.updatedAtNyrsq }}
                <span class="ml12">
                  <strong>项目预算：</strong>
                  {{ project.investment }}
                  {{ lang project.currencyType }}
                  <strong>{{#if project.negotiated }}（可议价）{{/if}}</strong>
                </span>
                <span class="ml12">
                  <strong class="ml12">标签/关键词：</strong>
                  {{#if project.topics }}
                    {{#each project.topics as |topic|}}
                      <a class="s-badge ml4 mb2 fs-body1" href="/{{ ../../language }}/topic/{{ topic.slug }}/projects"
                        target="_blank">
                        {{ topic.name }}
                      </a>
                    {{/each}}
                  {{else}}
                    需求方未设定
                  {{/if}}
                </span>
              </div>
            </article>
          {{/each}}
        </div>

        {{> pagination }}
      </div>

    </main>

    {{> footer }}
  </body>

</html>
