<!DOCTYPE html>
<html lang="{{ language }}">

  <head>
    <title>项目列表 - 儿童@蔻隼 | 想象、编程、分享</title>

    {{> head }}
  </head>

  <body class="theme-system">
    {{> header }}

    <main class="ps-relative t64">

      <div class="mt16 mb96 mx24 sm:ml4 sm:mr4">
        {{!-- google ad 内嵌，自适应 --}}
        <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
          data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <div class="d-grid grid__4 lg:grid__2 sm:grid__1 g12 w100 wmx100 mx-auto">
          {{#each pagination.currentItems as |project_item|}}
            <article class="s-card my8 p4">
              <a href="/admin/project/{{ project_item.id }}" target="_blank">
                <img class="imgs-list" src="/files/projects/{{ project_item.coverImage.location }}">
              </a>
              <h3 class="fw-bold fs-body3 fc-theme-secondary-400 my2">
                <a class="va-baseline s-tag mb4"
                  href="/{{ ../language }}/category/{{ project_item.category.slug }}/projects" target="_blank">
                  {{ project_item.category.nameZh }}
                  {{ project_item.category.nameEn }}
                </a>
                <a href="/admin/project/{{ project_item.id }}" target="_blank">
                  {{ project_item.subject }}
                </a>
                <span class="ml8 s-tag s-tag__muted fw-normal fs-body1">{{ project.id }}</span>
                {{#if (str-cmp project.status -3) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已删除</span>
                {{/if}}
                {{#if (str-cmp project.status -2 "lte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已拒绝</span>
                {{/if}}
                {{#if (str-cmp project.status -1) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">草稿</span>
                {{/if}}
                {{#if (str-cmp project.status 0) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">待审核</span>
                {{/if}}
                {{#if (str-cmp project.status 1 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已审核</span>
                {{/if}}
                {{#if (str-cmp project.status 2 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已推荐</span>
                {{/if}}
                {{#if (str-cmp project.status 3 "gte") }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已群发</span>
                {{/if}}
                {{#if (str-cmp project.status 6) }}
                  <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已管控</span>
                {{/if}}
              </h3>
              <p class="fc-medium mb2">
                {{#if project_item.topics }}
                  {{#each project_item.topics as |topic|}}
                    <a class="s-badge s-badge__sm" href="/{{ ../../language }}/topic/{{ topic.slug }}/projects"
                      target="_blank">
                      {{ topic.name }}
                    </a>
                  {{/each}}
                {{else}}
                  <strong>{{ lang "project-keys-tags" }}</strong>
                  {{ lang "not-setting" }}
                {{/if}}
              </p>
              <p class="fs-medium">
                <a class="s-link fw-bold" href="/{{ ../language }}/user/{{ project_item.user.username }}"
                  target="_blank">
                  {{ project_item.user.nickname }}
                </a>
                {{ lang "project-posted" }}
                {{ project_item.updatedAtNyrsq }}
              </p>
            </article>
          {{/each}}
        </div>

        {{> pagination }}
      </div>

    </main>

    {{> footer }}
  </body>

</html>
