<!DOCTYPE html>
<html lang="{{ language }}">

    <head>
        <title>后台管理 - 儿童@蔻隼 | 想象、编程、分享</title>

        {{> head }}
    </head>

    <body class="theme-system">
        {{> header }}

        <main class="ps-relative t64">
            {{!-- google ad 内嵌，自适应 --}}
            <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <div class="d-flex fw-wrap mt16 mb96 mx24 sm:ml4 sm:mr4">
                <a class="s-card m16" href="/admin/projects">项目审核</a>
                <a class="s-card m16" href="/admin/projects">人员管理</a>
            </div>

        </main>

        {{> footer }}
    </body>

</html>
