<!DOCTYPE html>
<html lang="{{ language }}">

    <head>
        <title>
            {{ project.subject }} - No.{{ project.id }} - {{ project.category.description }} - 项目需求 -
            丿雪 | 互联网智能对接服务平台
        </title>

        <meta name="keywords"
            content="{{ project.category.nameZh }},{{#each project.topics as |topic|}}{{ topic.name }}{{#unless @last }},{{/unless}}{{/each}}">
        <meta name="description" content="{{ str-cut project.content 70 }}">

        {{> head }}
        <link rel="stylesheet" href="/static/css/night-owl.min.css">
    </head>

    <body class="theme-system">
        {{> header }}

        <main class="ps-relative t64">

            <div class="mt16 mb96 mx24 sm:ml4 sm:mr4">

                <article class="s-card my12">
                    <h2 class="mb6">
                        <a class="s-tag mr6" href="/{{ language }}/category/{{ project.category.slug }}/projects"
                            target="_blank">
                            {{ project.category.nameZh }}
                            ({{ project.category.nameEn }})
                        </a>
                        <a href="/admin/project/{{ project.id }}" target="_blank">
                            {{ project.subject }}
                        </a>
                        <span class="ml8 s-tag s-tag__muted fw-normal fs-body1">{{ project.id }}</span>
                        {{#if (str-cmp project.status -3) }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已删除</span>
                        {{/if}}
                        {{#if (str-cmp project.status -2 "lte") }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已拒绝</span>
                        {{/if}}
                        {{#if (str-cmp project.status -1) }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">草稿</span>
                        {{/if}}
                        {{#if (str-cmp project.status 0) }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">待审核</span>
                        {{/if}}
                        {{#if (str-cmp project.status 1 "gte") }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已审核</span>
                        {{/if}}
                        {{#if (str-cmp project.status 2 "gte") }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已推荐</span>
                        {{/if}}
                        {{#if (str-cmp project.status 3 "gte") }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已群发</span>
                        {{/if}}
                        {{#if (str-cmp project.status 6) }}
                            <span class="ml8 s-tag s-tag__moderator fw-normal fs-body1">已管控</span>
                        {{/if}}
                    </h2>
                    <p class="my6 fs-body1">
                        <a class="s-link fw-bold" href="/{{ language }}/user/{{ project.user.username }}"
                            target="_blank">
                            {{ project.user.nickname }}
                        </a>
                        发布于
                        {{ project.updatedAtNyrsq }}
                    </p>
                    <p class="my6 fs-body1">
                        <strong>浏览数量：</strong>
                        {{ project.hits }}
                        次
                    </p>
                    <p class="my6 fs-body1">
                        <strong>申请人数：</strong>
                        {{ project.applicants }}
                        人
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 项目描述
                    </p>

                    <p class="my6 fs-body1">
                        <strong>项目预算：</strong>
                        {{ project.investment }}
                        {{ lang project.currencyType }}
                        <strong>{{#if project.negotiated }}（可议价）{{/if}}</strong>
                    </p>
                    <p class="my6 fs-body1">
                        <strong>开发周期：</strong>
                        {{ project.duration }}
                        天
                        <strong>{{#if project.workday }}（工作日）{{/if}}</strong>
                    </p>
                    <p class="my6 fs-body1">
                        <strong>标签/关键词：</strong>
                        {{#if project.topics }}
                            {{#each project.topics as |topic|}}
                                <a class="s-badge ml4 mb2 fs-body1"
                                    href="/{{ ../language }}/topic/{{ topic.slug }}/projects" target="_blank">
                                    {{ topic.name }}
                                </a>
                            {{/each}}
                        {{else}}
                            需求方未设定
                        {{/if}}
                    </p>
                    <section class="my6 pl16 py12 ba bar-lg bc-black-200 fs-body2">
                        {{{ project.contentHtml }}}
                    </section>
                    <p class="d-flex my6 fs-body1">
                        <strong class="flex--item ws-nowrap">项目参考：</strong>
                        <span class="flex--item">
                            {{#if project.examples }}
                                {{ project.examples }}
                            {{else}}
                                无
                            {{/if}}
                        </span>
                    </p>
                    <p class="d-flex my6 fs-body1">
                        <strong class="flex--item ws-nowrap">项目文件：</strong>
                        <span class="flex--item">
                            {{#if project.files }}
                                {{#each project.files as |file| }}
                                    <a href="/static/files/{{ file.location }}" target="_blank"
                                        download="丿雪智能(piexue.com)-{{ ../project.subject }}-{{ file.name }}">
                                        {{ add-op @index 1 }}、
                                        {{ file.name }}
                                        <br>
                                    </a>
                                {{/each}}
                            {{else}}
                                无
                            {{/if}}
                        </span>
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 招募条件
                    </p>

                    <p class="my6 fs-body1">
                        <strong>招募角色：</strong>
                        {{ lang project.workerType }}
                    </p>
                    <p class="d-flex my6 fs-body1">
                        <strong class="flex--item">招募描述：</strong>
                        <span class="flex--item">{{{ project.workerInfoHtml }}}</span>
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 联系方式
                    </p>

                    <p class="my6 fs-body1">
                        <strong>联系人：</strong>
                        {{ project.contactUser }}
                    </p>

                    {{#unless project.external }}
                        <p class="my6 fs-body1">
                            <strong>手机号：</strong>
                            {{ project.contactPhone }}
                        </p>
                        <p class="my6 fs-body1">
                            <strong>电子邮箱：</strong>
                            {{ project.contactEmail }}
                        </p>
                        <p class="my6 fs-body1">
                            <strong>聊天工具：</strong>
                            {{ project.contactIm }}
                        </p>
                    {{else}}
                        <p class="my6 fs-body1">
                            外部项目，请访问
                            <a href="{{ project.thirdPartyLink }}" target="_blank">项目来源网站</a>
                        </p>
                    {{/unless}}

                    <p class="my16">
                        <a class="p6 s-btn s-btn__md s-btn__danger s-btn__outlined"
                            href="{{ project.id }}/status/-3"><del>删除</del></a>
                        <a class="p6 s-btn s-btn__md s-btn__muted s-btn__filled"
                            href="{{ project.id }}/status/-2">审核不通过</a>
                        <a class="p6 s-btn s-btn__md s-btn__outlined" href="{{ project.id }}/status/1">审核通过并发布</a>
                        <a class="p6 s-btn s-btn__md s-btn__filled is-selected" href="{{ project.id }}/status/2">推荐</a>
                        <a class="p6 s-btn s-btn__md s-btn__filled" href="{{ project.id }}/status/3">微信群发</a>
                        <a class="p6 s-btn s-btn__md s-btn__filled is-selected" href="{{ project.id }}/status/6">管控</a>
                    </p>
                </article>

            </div>

        </main>

        {{> footer }}
        <script src="/static/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>

</html>
