<!DOCTYPE html>
<html lang="{{ language }}">

    <head>
        <title>{{ lang "user-register-intro" }} - {{ lang "site-name" }} | {{ lang "site-slogan" }}</title>

        <meta name="keywords" content='{{ lang "user-register-intro" }},{{ lang "user-register" }},{{ lang "site-name" }},{{
      lang "site-slogan" }}'>
        <meta name="description" content='{{ lang "user-register-intro" }} - {{ lang "site-intro" }}'>

        {{> head }}
        <link rel="stylesheet" href="/static/css/stacks-editor.min.css">
    </head>

    <body class="theme-system">
        {{> header }}

        <main class="ps-relative t64">
            {{> wish-random }}

            <div class="ta-center mt16 mb96 mx24 sm:ml4 sm:mr4">

                <a href="/{{ language }}">
                    <img class="mt32" src="/static/imgs/icons/logo-{{ language }}.svg" width="160" height="53"
                        alt='{{ lang "site-name" }}' title='{{ lang "site-name" }}' aria-label='{{ lang "site-name" }}'>
                </a>
                <h2 class="mt16 mb32">{{ lang "user-register" }}</h2>

                {{#if register_result }}
                    <p class="fs-body2">
                        {{ lang "register-result" register_result }}
                    </p>
                {{else}}
                    {{#if register_failed }}
                        <aside class="p2 mb8 fc-error fs-body1">{{ lang register_failed }}</aside>
                    {{/if}}

                    <form method="post">
                        <div class="d-flex flex__center fd-column gs16 gsy">

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96" for="username">
                                    {{ lang "register-username" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="username" id="username"
                                        minlength="6" maxlength="36"
                                        onkeyup="this.value=this.value.replace(/[^a-z0-9_-]/g,'');"
                                        placeholder='{{ lang "register-username-tip" }}'
                                        aria-label='{{ lang "register-username-tip" }}' required>
                                </div>
                            </div>

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96" for="email">
                                    {{ lang "register-email" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="email" name="email" id="email"
                                        placeholder='{{ lang "register-email-tip" }}'
                                        aria-label='{{ lang "register-email-tip" }}' required>
                                </div>
                            </div>

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96" for="password">
                                    {{ lang "register-password" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="password" name="password" id="password"
                                        placeholder='{{ lang "register-password-tip" }}'
                                        aria-label='{{ lang "register-password-tip" }}' required>
                                </div>
                            </div>

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96" for="nickname">
                                    {{ lang "register-nickname" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="nickname" id="nickname"
                                        placeholder='{{ lang "register-nickname-tip" }}'
                                        aria-label='{{ lang "register-nickname-tip" }}' required>
                                </div>
                            </div>

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="phone_number">
                                    {{ lang "register-phone" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="tel" name="phone_number"
                                        id="phone_number" onkeyup="this.value=this.value.replace(/[^0-9-()（）]/g,'');"
                                        placeholder='{{ lang "register-phone-tip" }}'
                                        aria-label='{{ lang "register-phone-tip" }}' required>
                                </div>
                                <div class="d-flex ai-center order-last s-input-fill gs4 gsx">
                                    <input type="hidden" name="phone_public" value="false">
                                    <input class="flex--item s-checkbox ml4 ba baw2 bc-red-500" type="checkbox"
                                        id="phone_public" onclick="setInputByCheckbox('phone_public', this)">
                                    <label class="flex--item s-label s-label__sm fw-normal" for="phone_public">
                                        {{ lang "register-public" }}
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96"
                                    for="im_account">
                                    {{ lang "register-im" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="text" name="im_account" id="im_account"
                                        placeholder='{{ lang "register-im-tip" }}'
                                        aria-label='{{ lang "register-im-tip" }}'>
                                </div>
                                <div class="d-flex ai-center order-last s-input-fill gs4 gsx">
                                    <input type="hidden" name="im_public" value="true">
                                    <input class="flex--item s-checkbox ml4 ba baw2 bc-red-500" type="checkbox"
                                        id="im_public" onclick="setInputByCheckbox('im_public', this)" checked>
                                    <label class="flex--item s-label s-label__sm fw-normal" for="im_public">
                                        {{ lang "register-public" }}
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex w40 wmn4 sm:w100">
                                <label class="flex--item s-input-fill order-first fw-bold fs-body2 w96" for="website">
                                    {{ lang "register-website" }}
                                </label>
                                <div class="d-flex fl-grow1 ps-relative">
                                    <input class="flex--item s-input blr0" type="url" name="website" id="website"
                                        placeholder='{{ lang "register-website-tip" }}'
                                        aria-label='{{ lang "register-website-tip" }}'>
                                </div>
                            </div>

                            <div class="d-flex fd-column w40 wmn4 sm:w100">
                                <label class="flex--item s-label mb4 ta-left" for="topic_names">
                                    {{ lang "register-topics" }}
                                </label>
                                <div class="d-flex ps-relative">
                                    <input type="hidden" name="topic_names" id="topic_names">
                                    <keyword-tags tag-values="" class="flex--item s-input blr0"></keyword-tags>
                                    <template id="keyword-tags-template">
                                        <link href="/static/css/kw-t.css" rel="stylesheet">
                                        <div class="keyword-tags-kit">
                                            <div class="keyword-tags"></div>
                                            <input type="text" class="flex--item s-input blr0 keyword-input"
                                                placeholder='{{ lang "register-topics-tip" }}'
                                                aria-label='{{ lang "register-topics-tip" }}' required>
                                        </div>
                                    </template>
                                    <template id="keyword-tag-template">
                                        <button type="button" class="keyword-tag">
                                            <span class="keyword">{{ lang "site-name" }}</span>
                                            <span class="delete-icon"></span>
                                        </button>
                                    </template>
                                </div>
                            </div>

                            <div class="d-flex fd-column w40 wmn4 sm:w100">
                                <label class="flex--item s-label mb4 ta-left" for="introduction">
                                    {{ lang "register-intro" }}
                                </label>
                                <textarea class="flex--item s-textarea d-none" name="introduction" id="introduction"
                                    placeholder='{{ lang "register-intro-tip" }}'
                                    aria-label='{{ lang "register-intro-tip" }}' required>
### Work Experience
Support **Markdown** syntax
### 工作经验
支持 **Markdown** 语法
                                </textarea>
                                <div id="introduction-div" class="ta-left"></div>
                            </div>

                            <div class="d-flex fd-column ai-center">
                                <div class="flex--item">
                                    <button class="s-btn s-btn__primary ws1 fs-body2" type="submit"
                                        onclick="setIntroduction()">
                                        {{ lang "register" }}
                                    </button>
                                </div>
                                <div class="flex--item mt16 fs-body2">
                                    {{ lang "register-have-account" }}
                                    <a href="/{{ language }}/sign-in">{{ lang "register-sign-in" }}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </form>
                {{/if}}

            </div>
        </main>

        {{> footer }}
        <script src="/static/js/kw-t.js"></script>
        <script src="/static/js/highlight.min.js"></script>
        <script src="/static/js/stacks-editor.bundle.js"></script>
        <script>
            let editor = new window.stacksEditor.StacksEditor(
                document.getElementById("introduction-div"),
                document.getElementById("introduction").value,
                {
                    parserFeatures: {
                        tables: true,
                    },
                }
            );

            function setIntroduction() {
                document.getElementById("introduction").value = editor.content;
            }
        </script>
    </body>

</html>
